In [ ]:
# Install, if needed
# !pip install --user ipython-sql

# Load the SQL module (ignore the warning)
%load_ext sql

# Connect to the Chinook database
%sql sqlite:///Chinook.sqlite

<hr style="height: 3px; margin: 0" />
### 2 A

In [ ]:
%%sql

-- How many artists are in the database?
SELECT COUNT(*)
FROM Artist;

<hr style="height: 3px; margin: 0" />
### 2 B

In [ ]:
%%sql

-- How many albums are there with ArtistId 22?
SELECT COUNT(*)
FROM Album
WHERE ArtistId = 22;

<hr style="height: 3px; margin: 0" />
### 2 C

In [ ]:
%%sql

-- How many genres have 'Rock' in their name?
SELECT COUNT(*)
FROM Genre
WHERE Name LIKE '%Rock%';

<hr style="height: 3px; margin: 0" />
### 2 D

In [ ]:
%%sql

-- How many tracks are there with either GenreId = 1 or GenreId = 5?
SELECT COUNT(*)
FROM Track
WHERE GenreId = 1 OR GenreId = 5;

<hr style="height: 3px; margin: 0" />
### 2 E

In [ ]:
%%sql

-- What is the average track length in the database?
SELECT AVG(Milliseconds)
FROM Track;

<hr style="height: 3px; margin: 0" />
### 2 F

In [ ]:
%%sql

-- Can you express this average length in minutes, instead of milliseconds?
SELECT AVG(Milliseconds) / 60000 As Minutes
FROM Track;

<hr style="height: 3px; margin: 0" />
### 2 G

In [ ]:
%%sql

-- What is the number of bytes in the largest track in the 'Blues' genre (GenreId = 6)

SELECT MAX(Bytes)
FROM Track
WHERE GenreId = 6;

<hr style="height: 3px; margin: 0" />
### 2 H

In [ ]:
%%sql

-- Can you express this number in Megabytes, for convenience? (1 megabyte is 1048576 bytes)
SELECT MAX(Bytes) / 1048576 AS Megabytes
FROM Track
WHERE GenreId = 6;

<hr style="height: 3px; margin: 0" />
### 2 I

In [ ]:
%%sql

-- What would be the total price to buy all tracks of the 'Reggae' genre (GenreId = 8)
SELECT SUM(UnitPrice)
FROM Track
WHERE GenreId = 8;

<hr style="height: 3px; margin: 0" />
### 2 J

In [ ]:
%%sql

-- What is the Name of the track with the largest number of characters?
SELECT Name
FROM Track
ORDER BY LENGTH(Name) DESC
LIMIT 1;