In [ ]:
# Install, if needed
# !pip install --user ipython-sql

# Load the SQL module (ignore the warning)
%load_ext sql

# Connect to the Chinook database
%sql sqlite:///Chinook.sqlite

<hr style="height: 3px; margin: 0" />
### 3 A

In [ ]:
%%sql

-- In a single query, get the number of albums by 'Led Zeppelin'?
SELECT COUNT(*)
FROM Album, Artist
WHERE Album.ArtistId = Artist.ArtistId
AND Artist.Name = 'Led Zeppelin';

<hr style="height: 3px; margin: 0" />
### 3 B

In [ ]:
%%sql

-- In a single query, get the number of tracks of genres having 'Rock' in their name?
SELECT COUNT(*)
FROM Track, Genre
WHERE Track.GenreId = Genre.GenreId
AND Genre.Name LIKE '%Rock%';

<hr style="height: 3px; margin: 0" />
### 3 C

In [ ]:
%%sql

-- What is the average number of bytes of all tracks in the 'Metal' genre?
SELECT AVG(Track.Bytes)
FROM Track, Genre
WHERE Track.GenreId = Genre.GenreId
AND Genre.Name LIKE 'Metal';

<hr style="height: 3px; margin: 0" />
### 3 D

In [ ]:
%%sql

-- What is the TrackId of the track with the largest Millisecond length in the database?
SELECT TrackId
FROM Track
ORDER BY Milliseconds DESC
LIMIT 1;

<hr style="height: 3px; margin: 0" />
### 3 E

In [ ]:
%%sql

-- What is the Title of the album on which this longest track appears?
SELECT Album.Title
FROM Track, Album
WHERE Track.AlbumId = Album.AlbumId
AND Track.TrackId = 2820;

<hr style="height: 3px; margin: 0" />
### 3 F

In [ ]:
%%sql

-- What is the TrackId of the track with the shortest Millisecond length in the database?
SELECT TrackId
FROM Track
ORDER BY Milliseconds ASC
LIMIT 1;

<hr style="height: 3px; margin: 0" />
### 3 G

In [ ]:
%%sql

-- What is the Name of artist that performed the shortest track?
SELECT Artist.Name
FROM Track, Album, Artist
WHERE Track.AlbumId = Album.AlbumId
AND Album.ArtistId = Artist.ArtistId
AND TrackId = 2461;

<hr style="height: 3px; margin: 0" />
### 3 H

In [ ]:
%%sql

-- What would be the total length, in minutes, of all tracks in the 'Jazz' genre?
SELECT SUM(Milliseconds) / 60000 AS Minutes
FROM Track, Genre
WHERE Track.GenreId = Genre.GenreId
AND Genre.Name = 'Jazz';